spring:
  application:
    name: vibeapp

  datasource:
    url: jdbc:h2:file:./data/testdb
    driver-class-name: org.h2.Driver
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console

  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql
      data-locations: optional:classpath:/__disabled__/no-data-init.sql

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true

debug: true

logging:
  level:
    org.springframework.boot.autoconfigure: DEBUG
  file:
    name: ./logs/app.log
